<div style="background-color: yellow">
  <h1 >
    {{title}}
  </h1>
  <p>*ngIf directive</p>
  <div *ngIf="visible" [innerText]="title"> </div>
  <button class="btn btn-primary" type="button" (click)="toggle()">Toggle</button>
  {{visible}}
<p>{{afterSelectedEmployee |json}}</p>
  

<p>*ngSwitch case</p>
<div [ngSwitch]="role">
  <div *ngSwitchCase = "'admin'">
    This is Admin Section
  </div>
  <div *ngSwitchCase = "'user'">
      This is User Section
  </div>
  <div *ngSwitchDefault>
      This is Default Case
  </div>

</div>
<hr>
<hr>
<!-- () = this is used for event  (childSelectedEmployee) -->
<!-- [] = this is used for binding  [employeeList] -->
<app-employee-list [employeeList]="employee" (childSelectedEmployee)="receiveFromParent($event)"></app-employee-list>
</div>