<p>
  posts works!
</p>
{{post | json}}
{{postForm.valid | json }}
<div class="container">
  <div class="jumbotron">
    <form #postForm="ngForm" novalidate  (submit)="addPost();postForm.reset()">
      <div class="form-group">
        <input required type="number" class="form-control" [(ngModel)]="post.userId" name="userId" placeholder="UserId">
      </div>
      <div class="form-group">
        <input required type="text" class="form-control" [(ngModel)]="post.title" name="title" placeholder="Title">
      </div> 
      <div class="form-group"> 
        <input required type="text" class="form-control" [(ngModel)]="post.body" name="body" placeholder="Body">
      </div>
      <div class="form-group">
        <button [disabled]="postForm.invalid" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>


<!-- <button type="button" class="btn btn-primary" (click)="addPost()">add Post</button> -->
<button type="button" class="btn btn-primary" (click)="updatePost()">Update Post</button>
<button type="button" class="btn btn-primary" (click)="deletePost()">Delete Post</button>
<table class="table">
  <thead>
    <tr>
      <th>UserId</th>
      <th>Id</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of postList">
      <td>{{emp.id}}</td>
      <td>{{emp.userId}}</td>
      <td>{{emp.title}}</td>
      <td>{{emp.body}}</td> 
    </tr>
  </tbody>
</table>

