<p>
  posts works!
</p>
<button type="button" class="btn btn-primary" (click)="addPost()">add Post</button>
<button type="button" class="btn btn-primary" (click)="updatePost()">Update Post</button>
<button type="button" class="btn btn-primary" (click)="deletePost()">Delete Post</button>
<table class="table">
  <thead>
    <tr>
      <th>UserId</th>
      <th>Id</th>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of postList">
      <td>{{emp.id}}</td>
      <td>{{emp.userId}}</td>
      <td>{{emp.title}}</td>
      <td>{{emp.body}}</td> 
    </tr>
  </tbody>
</table>

